.container{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    text-align: center;
    font-size: 1cm;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(132, 228, 235);
    color: rgb(6, 76, 206);
}
.results{
    display: flex;
    justify-content: stretch;
    height: 50px;
    border: 1px solid #ddd;
}
.result{
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-size: 0.5cm;
    font-weight: bold;
    color: green;
}
.buttons{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.button{
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5cm;
    width: 30px;
}